<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- <th:block th:replace="layout/header :: header-fragment"></th:block> -->
<head>
	<!-- application.yml에서 설정해준 /static/을 경로 설정을 할 때, 붙여줘야 css가 적용 된다.  -->
	<link href="/static/css/common.css"  th:href="@{/static/css/common.css}" rel="stylesheet" />
	<link href="/static/css/style.css"  th:href="@{/static/css/style.css}" rel="stylesheet" />
	<link rel="icon" href="/static/image/favicon.ico" />
	<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"   integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- jQuery Modal -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
	<script src="/static/js/common.js" th:src="@{/static/js/common.js}" ></script>
	
			
</head>
<body>
	<div class="default-layout-box wrap">
		<div class="layout">
			<!-- 파라미터로 넘겨서 사용 가능한 예시 -->
			<!-- <th:block th:replace="layout/test_header :: headerFragment('Header')"></th:block> -->
			<div class="h-100-p">
				<div  class="loginer-nickname-box m-t-40">
					<div th:if="${session.loginMember != null }">
						<div  class="nickname-label nickname-el"><span>NickName</span></div>
						<div  class="nickname nickname-el"><span th:text="${session.loginMember.nickName}" >NickName</span></div>
					</div>
					<div th:unless="${session.loginMember != null }">
						<div class="nickname-label nickname-el"><span></span></div>
						<div class="nickname nickname-el not-login"><span>-</span></div>
					</div>
				</div>
				<div>
					
					<!-- 곧 사라질 표현 방식이라고 알려줌  
						<th:block th:replace="layout/header :: header-fragment"></th:block> -->
					<th:block th:replace="~{layout/header :: header-fragment}"></th:block>
					<th:block layout:fragment="body"></th:block>
					<!-- 곧 사라질 표현 방식이라고 알려줌 
						<th:block th:replace="layout/footer :: footer-fragment"></th:block> -->
					<th:block th:replace="~{layout/footer :: footer-fragment}"></th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>