<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="footer-fragment">
		<script>
			$(document).ready(function(){
				$('.footer-logo-box').click(function(){
					location.href='/baseball/main';
				});
			})
		</script>
		<div class="footer-box wrap">
			<div class="footer-logo-box">
				<div class="logo-box logo-box-1">
					<span>baseball challenge</span>
					<span>baseball challenge</span>
				</div>
				<div class="logo-box logo-box-2">
					<span>baseball challenge</span>
				</div>
			</div>
			<div class="made-box">
				<span>made. jw_ilile9</span>
			</div>
			<!-- <img src="/static/image/footer_img.png" alt="" />
			<img src="/static/image/made.png" alt="" /> -->
		</div>
	</th:block>
</html>