<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="header-fragment">
		<head>
			<meta charset="UTF-8">
			<title>Header Title</title>
			
			
		</head>
		<body>
			<div class="header-box wrap">
				<div class="main-logo-box">
					<div class="m-l-r-auto main-logo-el ">
						<!-- <img id="main-logo" src="/static/image/main_logo.png" alt="" /> -->
						<span class="main-logo-1 main-logo">baseball challenge</span>
						<span class="main-logo-2 main-logo">baseball challenge</span>
					</div>
				</div>
				<div class="main-logo-padding-box"></div>
				<!-- <div class="logo-bottom"></div> -->
			</div>
		</body>
	</th:block>
</html>