@charset "UTF-8";


.header-box,
.header-box > .logo-bottom, 
.header-box > .main-logo-padding-box,
.footer-box,
.login-contents-box {
	/* background-color: #F9F7F1 !important; */
}

.default-layout-box > .layout, 
.header-box, 
.header-box > .logo-bottom, 
.header-box > .main-logo-padding-box {
	background-color: #232121;
}

.header-box {
	height: 200px;
	display: none;
}

.header-box > .main-logo-box {
	opacity: 0;
}

.footer-box, 
.game-contents-box {
	background-color: #F9F7F1; 
}


.footer-box {
	/* padding-top: 95px; */
}

.default-layout-box .layout .loginer-nickname-box  {
	display: none;
}


.main-logo-box > .main-logo-el > .main-logo-1 {
	top: -5px;
	color: #F64949; 
}

.main-logo-box > .main-logo-el > .main-logo-2 {
	color: #fff;
	top: 0;
	left: 6px;
}

.footer-box > .made-box > span {
	color: #000;
} 